.loader {
	display: flex;
	position: absolute;
	top: 45%;
	left: 40%;
}

.circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
	animation: loading .6s ease-in-out 5 alternate;
}

.circle:first-child {
	background-color: #9356dc;
	animation-delay: 0s;
}

.circle:nth-child(2) {
	background-color: #ff79da;
	animation-delay: 0.2s;
}

.circle:nth-child(3) {
	background-color: #99e2d0;
	animation-delay: 0.4s;
	margin-right: 0px;
}

@keyframes show-container {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes loading {
	from {
		transform: translateY(30px);
	}
	to {
		transform: translateY(0px);
	}
}
