@media only screen and (max-width:767px){

    .logo{
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
            img{
            width: 150px;
            }
    }
}    