$minTablet: "(min-width:768px)";
.logo {
	height: 3.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	@media #{$minTablet} {
		position: absolute;
		bottom: 2px;
	}
	img {
		width: 150px;
	}
}
