//variables
//colors
$color-Primary:#9356DC;
$color-Secondary:#FF79DA;
$color-Tertiary:#99E2D0;
$color-background:#f6f6f6;
$color-btn:linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
//Fonts
$font-page:'Roboto', sans-serif;