@import 'vars';
@import 'utilises';
@import 'footer';
@import 'logo';


@media only screen and (max-width:767px){

.location{
    background-color: $color-background;
    text-align: center;
    height: 13em;
    &__nav{
        display: flex;
        align-items: center;
        justify-content: center; 
        background-color: darken($color-background,10%);
        height: 2em;
        i{
            margin-right: 10px;
        }
    }
    &__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: 158px;
        padding:0 15px;
        button{
            border: white;
            width: 50%;
            height: 40px;
            border-radius: 20px;
            background-color:$color-Primary;
            color: white;
            box-shadow: 7px 7px 13px -5px rgba(0,0,0,0.47);
            text-align: center;
            outline: none;
        }
    }
}

}
@media only screen and (max-width:767px){
    .header{
        border: springgreen solid 2px;
        margin-top: 20px;
        padding: 0 15px;
        &__btn{
            margin: auto;
            border: orangered solid 2px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 12em;
            width: 90%;
            button{
                height: 50px;
                border-radius: 20px;
                border: white;
                outline: none;
                box-shadow: 7px 7px 13px -5px rgba(0,0,0,0.47);
            }
            i{
                margin-right: 20px;
            }
           
        }
    }    
    .menu{
        background-color: $color-background;
        width: 100%;
        margin-top: 30px;
        h2{
            padding: 10px;
        }
        &__cards{
            border: yellow solid 2px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 10px;
            width: 90%;
            margin: auto;
        }
        &__card1{
            width: 100%;
            border-radius: 20px;
            overflow: auto;
            height: 200px;
            background-color: white;
            img{
                width: 100%;
                height: 70%;
            }
        .menu__card1__desc{
            padding: 10px;
            
        }    
    
        }
    }
}

