@import "vars";
@import "utilises";
@import "footer";
@import "logo";
@import "animation";
@import "loading";
.container {
	opacity: 0;
	animation: show-container .1s 3s forwards;
}
.location {
	background-color: $color-background;
	text-align: center;
	height: 17em;
	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #eaeaea;
		height: 2em;
		i {
			margin-right: 17px;
		}
	}
	&__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		justify-content: space-evenly;
		height: 235px;
		padding: 0 15px;
		p {
			opacity: 55%;
		}
		button {
			border: white;
			font-family: "Roboto", sans-serif;
			width: 200px;
			height: 40px;
			border-radius: 20px;
			background-image: $color-btn;
			color: white;
			box-shadow: 3px 6px 7px -4px rgba(0, 0, 0, 0.45);
			text-align: center;
			outline: none;
		}
		button:hover {
			opacity: 1;
		}
		button::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			opacity: 0;
			z-index: -1;
			background-color: lighten($color-Primary, 8%);
			box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
			transition: opacity 3s;
		}
	}
}

main {
	margin-top: 35px;
	padding: 0 15px;
	@media #{$minTablet} {
		margin-top: 25px;
	}
	h3 {
		padding: 5px 0px 22px 5px;
		font-weight: bold;
		@media #{$minTablet} {
			text-align: center;
			font-size: x-large;
		}
	}
}
.main__buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 12em;
	width: 90%;
	padding-left: 10px;
	margin-top: 20px;
	@media #{$minTablet} {
		align-items: center;
		width: 100%;
		margin-top: 0;
	}
	button {
		font-weight: bold;
		font-family: "Roboto", sans-serif;
		background-color: #f6f6f6;
		width: 95%;
		display: flex;
		align-items: center;
		justify-content: start;
		height: 50px;
		border-radius: 20px;
		border: white;
		outline: none;
		box-shadow: 3px 6px 7px -4px rgba(0, 0, 0, 0.45);
		transition: all 0.5s ease-out;
		@media #{$minTablet} {
			width: 45%;
		}
		span {
			background-color: $color-Primary;
			color: white;
			font-weight: bold;
			width: 1.6em;
			line-height: 1.6em;
			margin-right: 5px;
			text-align: center;
			border-radius: 50%;
			margin-right: 20px;
			margin-left: -10px;
		}
		i {
			margin-right: 20px;
		}
	}
	button:hover {
		background-color: #f5edff;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	}
}
.restaurants {
	background-color: $color-background;
	width: 100%;
	margin-top: 45px;
	h2 {
		padding: 40px 0px 15px 20px;
		font-weight: bold;
		@media #{$minTablet} {
			text-align: center;
			padding: 25px 0px 25px 0px;
		}
	}
}
.cards {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 10px;
	width: 90%;
	margin: auto;
	padding-bottom: 50px;
	p {
		opacity: 0.6;
	}
}
.card {
	width: 100%;
	border-radius: 20px;
	overflow: auto;
	height: 225px;
	background-color: white;
	position: relative;
	box-shadow: 3px 6px 7px -4px rgba(0, 0, 0, 0.45);
	@media #{$minTablet} {
		width: 48%;
	}
	img {
		width: 100%;
		height: 71%;
		object-fit: cover;
	}
	span {
		position: absolute;
		background-color: $color-Tertiary;
		color: darken($color-Tertiary, 40%);
		right: 15px;
		top: 13px;
		width: 85px;
		height: 25px;
		text-align: center;
		padding: 3px;
		font-weight: bold;
	}
	&__desc {
		padding: 8px 0px 0px 15px;
		position: relative;
		line-height: 1.4;
	}
}
.card__react {
	cursor: pointer;
	position: absolute;
	right: 0px;
	top: 13px;
	overflow: hidden;
	.empty_heart {
		padding-top: 2px;
		background-image: $color-btn;
	}
	.full_heart {
		transform: translate(-36px, 0);
		background-image: $color-btn;
		opacity: 0;
		transition: all 1s ease-in-out;
	}
}
.card__react:hover {
	.empty_heart {
		opacity: 0;
	}
	.full_heart {
		opacity: 1;
	}
}

nav {
	@media #{$minTablet} {
		height: 50px;
		padding: 15px;
		position: relative;
		margin-bottom: 5px;
	}
	ul {
		display: none;
		@media #{$minTablet} {
			display: inline;
			position: absolute;
			bottom: 6px;
			right: 16px;
			li {
				float: left;
				list-style-type: none;
				margin-left: 20px;
				padding: 5px 14px;
				font-size: 13px;
			}
			.btn_contact {
				border: white;
				font-family: "Roboto", sans-serif;
				border-radius: 20px;
				background-image: $color-btn;
				color: white;
				text-align: center;
				outline: none;
				animation: flash 2s ease-in-out;
			}
		}
	}
}
